.headerWrapper {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.rightHeader {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  align-items: center;
}

.headerItem {
  margin-right: 20px;
}
.header-item:hover {
  transform: scale(1.2);
}
.title {
  cursor: pointer;
}

.link {
  color: black;
  text-decoration: none;
}

.logoImage {
  height: 60px;
  width: 60px;
}
.titleWrapper {
  display: flex;
  align-items: center;
}
